.App {
  background-color: #282c34;
  min-height: 90vh;
  padding: 5vh 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  font-size: calc(9px + 0.75vmin);
  color: white;
  font-family: Trebuchet MS,roboto,ubuntu,sans-serif;
}

.bookSelector {
  border: 0;
  background-color: #51535E;
  color: white;
  padding: 5px 10px;
}

.bookDashboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.bookChart {
  width: 80vw;
  min-width: 360px;
  height: 50vh;
}

.table {
  border-spacing: 0px;
  border-collapse: collapse;
}

.table thead {
  background-color: #141822;
  color: #787B86;
  text-align: center;
}

.table tbody {
  background-color: #171B26;
  color: #ABADB7;
  text-align: right;
}

.table td,
.table th {
  padding: 5px;
  border: 1px solid #363C4E;
}
